body {
  @include flex($direction: column);

  background-color: $c-cultured;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  margin: 0;

  > * {
    width: 100%;
  }
}