// TO DO - get code from FreeCodeCamp - Responsive Web Design
body {
  font-family: $text-font-stack;
}

h1 {
  font-size: 3rem;
  line-height: 3.4rem;
}

h2 {
  font-size: 2.4rem;
  line-height: 2.8rem;
}

p, span, a, label, output {
  font-size: 1.6rem;
  line-height: 2rem;
}

button {
  font-size: 1.4rem;
  line-height: 1.8rem;
}